In [2]:
import pandas as pd
sql_data = pd.read_csv(r'D:\Ashif Learnings\Datascience&AI\Sql Docs\dataset_1_202403200248.csv')
sql_data.head()

       destination  passanger weather  temperature  ... direction_same direction_opp  Y row_count
0  No Urgent Place      Alone   Sunny           55  ...              0             1  1         1
1  No Urgent Place  Friend(s)   Sunny           80  ...              0             1  0         2
2  No Urgent Place  Friend(s)   Sunny           80  ...              0             1  1         3
3  No Urgent Place  Friend(s)   Sunny           80  ...              0             1  0         4
4  No Urgent Place  Friend(s)   Sunny           80  ...              0             1  0         5

[5 rows x 27 columns]

In [3]:
sql_data.columns

Index(['destination', 'passanger', 'weather', 'temperature', 'time', 'coupon',
       'expiration', 'gender', 'age', 'maritalStatus', 'has_children',
       'education', 'occupation', 'income', 'car', 'Bar', 'CoffeeHouse',
       'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50',
       'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min',
       'direction_same', 'direction_opp', 'Y', 'row_count'],
      dtype='object')

In [4]:
sql_data.shape

(12684, 27)

In [ ]:
total =